In [1]:
import pandas as pd
import numpy as np

In [129]:
df1=pd.read_csv('data.csv')

In [130]:
df1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4.0,h,NaN,SN,Nelson,06-08-2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra,-37.79650,144.99650,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2.0,h,NaN,S,Biggin,06-08-2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra,-37.79950,144.99740,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2.0,h,NaN,S,Collins,06-08-2016,2.5,3067.0,...,2.0,1.0,202.0,NaN,1900.0,Yarra,-37.79960,144.99890,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2.0,h,941000.0,S,Jellis,07-05-2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3.0,h,1876000.0,S,Nelson,07-05-2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2.0,u,NaN,PI,Biggin,07-11-2016,2.5,3067.0,...,2.0,1.0,4292.0,82.0,2009.0,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
13,Abbotsford,17 Raphael St,4.0,h,NaN,W,Biggin,07-11-2016,2.5,3067.0,...,2.0,0.0,230.0,147.0,1860.0,Yarra,-37.80660,144.99360,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2.0,h,1636000.0,S,Nelson,08-10-2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
15,Abbotsford,217 Langridge St,3.0,h,1000000.0,S,Jellis,08-10-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2.0,t,745000.0,S,Jellis,08-10-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1.0,u,300000.0,S,Biggin,08-10-2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2.0,h,1097000.0,S,Biggin,08-10-2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.80100,144.99890,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2.0,u,542000.0,S,Dingle,08-10-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
20,Abbotsford,2 Rich St,2.0,h,NaN,SP,Biggin,10-12-2016,2.5,3067.0,...,1.0,1.0,176.0,80.0,1925.0,Yarra,-37.79980,144.99720,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2.0,u,760000.0,SP,Biggin,10-12-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1.0,u,481000.0,SP,Purplebricks,10-12-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
23,Abbotsford,411/8 Grosvenor St,2.0,u,700000.0,VB,Jellis,12-11-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3.0,h,1350000.0,VB,Nelson,12-11-2016,2.5,3067.0,...,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.80850,144.99640,Northern Metropolitan,4019.0
25,Abbotsford,123/56 Nicholson St,2.0,u,750000.0,S,Biggin,12-11-2016,2.5,3067.0,...,2.0,1.0,0.0,94.0,2009.0,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
26,Abbotsford,22 Park St,4.0,h,1985000.0,S,Biggin,12-11-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.80840,144.99420,Northern Metropolitan,4019.0
27,Abbotsford,13/84 Trenerry Cr,1.0,u,500000.0,S,Biggin,12-11-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2.0,h,1172500.0,S,Biggin,13-08-2016,2.5,3067.0,...,1.0,1.0,195.0,NaN,NaN,Yarra,-37.80840,144.99730,Northern Metropolitan,4019.0
29,Abbotsford,7/20 Abbotsford St,1.0,u,441000.0,SP,Greg,14-05-2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23648,Vermont South,2 Settlers Ct,4.0,h,1295000.0,SP,Purplebricks,26-08-2017,17.2,3133.0,...,2.0,2.0,NaN,190.0,1980.0,NaN,-37.85928,145.18715,Eastern Metropolitan,4280.0
23649,Vermont South,9 Winswood Cl,4.0,h,1250000.0,PI,Philip,26-08-2017,17.2,3133.0,...,2.0,2.0,986.0,NaN,NaN,NaN,-37.84679,145.20051,Eastern Metropolitan,4280.0
23650,Viewbank,149 Graham Rd,5.0,h,1316000.0,SP,Nelson,26-08-2017,8.9,3084.0,...,3.0,3.0,696.0,NaN,NaN,NaN,-37.73501,145.08341,Eastern Metropolitan,2698.0
23651,Viewbank,7 Northwood Dr,4.0,h,NaN,SP,Nelson,26-08-2017,8.9,3084.0,...,2.0,2.0,1105.0,237.0,1980.0,NaN,-37.73703,145.09392,Eastern Metropolitan,2698.0
23652,Wantirna,16 chesterfield Ct,4.0,h,951000.0,S,Ray,26-08-2017,14.7,3152.0,...,2.0,2.0,704.0,200.0,1981.0,NaN,-37.85639,145.23536,Eastern Metropolitan,5424.0
23653,Wantirna,9 eton Sq,4.0,h,NaN,PI,Ray,26-08-2017,14.7,3152.0,...,2.0,3.0,785.0,NaN,NaN,NaN,-37.85297,145.23815,Eastern Metropolitan,5424.0
23654,Wantirna South,12 Armagh Cr,4.0,h,1323000.0,S,Barry,26-08-2017,14.7,3152.0,...,2.0,2.0,551.0,NaN,NaN,NaN,-37.87608,145.22390,Eastern Metropolitan,7082.0
23655,Wantirna South,34 Fewster Dr,3.0,h,970000.0,S,Barry,26-08-2017,14.7,3152.0,...,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
23656,Wantirna South,15 Mara Cl,4.0,h,1330000.0,S,Barry,26-08-2017,14.7,3152.0,...,2.0,2.0,717.0,191.0,1980.0,NaN,-37.86887,145.22116,Eastern Metropolitan,7082.0
23657,Watsonia,2/14 Daours Ct,2.0,u,590000.0,S,Lindellas,26-08-2017,14.5,3087.0,...,1.0,1.0,NaN,83.0,2010.0,NaN,-37.71500,145.07649,Northern Metropolitan,2329.0
23658,Watsonia,76 Kenmare St,2.0,h,650000.0,PI,Morrison,26-08-2017,14.5,3087.0,...,1.0,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0
23659,Watsonia North,22 Meakin St,3.0,h,NaN,PI,Nelson,26-08-2017,14.5,3087.0,...,2.0,3.0,NaN,NaN,NaN,NaN,-37.70186,145.08635,Northern Metropolitan,1442.0
23660,Werribee,6 Feijoa Ct,5.0,h,NaN,W,YPA,26-08-2017,14.7,3030.0,...,3.0,2.0,535.0,NaN,NaN,NaN,-37.89362,144.66767,Western Metropolitan,16166.0
23661,Werribee,11 Gundaroo Sq,4.0,h,NaN,PI,Stockdale,26-08-2017,14.7,3030.0,...,2.0,6.0,NaN,NaN,NaN,NaN,-37.91230,144.66980,Western Metropolitan,16166.0
23662,Werribee,91 Latham St,4.0,h,540000.0,PI,Triwest,26-08-2017,14.7,3030.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,16166.0
23663,Werribee,5 Nuragi Ct,4.0,h,635000.0,S,hockingstuart,26-08-2017,14.7,3030.0,...,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
23664,Werribee,3 Sky Ct,3.0,h,NaN,PI,Barry,26-08-2017,14.7,3030.0,...,2.0,2.0,NaN,NaN,NaN,NaN,-37.89096,144.64200,Western Metropolitan,16166.0
23665,West Footscray,1/21 Waratah St,2.0,t,655000.0,S,Jas,26-08-2017,6.4,3012.0,...,2.0,1.0,NaN,135.0,2012.0,NaN,-37.80968,144.86819,Western Metropolitan,5058.0
23666,Westmeadows,9 Black St,3.0,h,582000.0,S,Red,26-08-2017,16.5,3049.0,...,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
23667,Westmeadows,81 Hillcrest Dr,4.0,h,720000.0,VB,Barry,26-08-2017,16.5,3049.0,...,2.0,0.0,NaN,NaN,NaN,NaN,-37.68006,144.87550,Northern Metropolitan,2474.0
23668,Wheelers Hill,12 Strada Cr,4.0,h,1245000.0,S,Barry,26-08-2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
23669,Williamstown,77 Merrett Dr,3.0,h,1031000.0,SP,Williams,26-08-2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
23670,Williamstown,83 Power St,3.0,h,1170000.0,S,Raine,26-08-2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
23671,Williamstown,8/2 Thompson St,2.0,t,622500.0,SP,Greg,26-08-2017,6.8,3016.0,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
23672,Williamstown,96 Verdon St,4.0,h,2500000.0,PI,Sweeney,26-08-2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

# 1. Determine the no. of rows and no. of columns in the dataset.

In [131]:
df=df1

In [4]:
df.shape

(23678, 21)

# Display the datatypes of each column.

In [5]:
df.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

# Determine the row indexes of rows having all null values (i.e. empty rows).

In [7]:
df.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

# Determine the total number of empty rows and their percentage in whole dataset and remove them.

In [24]:
percent_missing = df.isnull().sum()
sum(percent_missing)  
x=23678*21

In [28]:
total_missing = sum(percent_missing)/x
total_missing

0.14011197856961857

# Determine the column names having missing values.

In [15]:
df.columns[df.isnull().any()]

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

# Determine the missing values and their percentage in each column.

In [16]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df

                 column_name  percent_missing
Suburb                Suburb         0.553256
Address              Address         0.553256
Rooms                  Rooms         0.553256
Type                    Type         0.553256
Price                  Price        22.307627
Method                Method         0.553256
SellerG              SellerG         0.553256
Date                    Date         0.553256
Distance            Distance         0.557480
Postcode            Postcode         0.557480
Bedroom2            Bedroom2        19.477996
Bathroom            Bathroom        19.490666
Car                      Car        20.090379
Landsize            Landsize        26.471830
BuildingArea    BuildingArea        57.690683
YearBuilt          YearBuilt        51.262776
CouncilArea      CouncilArea        33.879551
Lattitude          Lattitude        18.730467
Longtitude        Longtitude        18.730467
Regionname        Regionname         0.557480
Propertycount  Propertycount         0.557480

# Determine the row indexes having missing values.

In [30]:
df[df.isnull()].index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

# Determine the missing values and their percentage in each row.

In [75]:
x=df.isnull().sum(axis=1)
percent_missing = df.isnull().sum(axis=1) * 100 / 21
missing_value_df = pd.DataFrame({'column_name': x,
                                 'percent_missing': percent_missing})

missing_value_df.head()

   column_name  percent_missing
0            3        14.285714
1            2         9.523810
2            0         0.000000
3            3        14.285714
4            0         0.000000

# Determine the column names having more than 30% missing values and remove them from the dataset.

In [68]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})


missing_value_df = missing_value_df[(missing_value_df['percent_missing']<30) | (missing_value_df['percent_missing']<-30)]

In [66]:
missing_value_df

                 column_name  percent_missing
Suburb                Suburb         0.553256
Address              Address         0.553256
Rooms                  Rooms         0.553256
Type                    Type         0.553256
Price                  Price        22.307627
Method                Method         0.553256
SellerG              SellerG         0.553256
Date                    Date         0.553256
Distance            Distance         0.557480
Postcode            Postcode         0.557480
Bedroom2            Bedroom2        19.477996
Bathroom            Bathroom        19.490666
Car                      Car        20.090379
Landsize            Landsize        26.471830
Lattitude          Lattitude        18.730467
Longtitude        Longtitude        18.730467
Regionname        Regionname         0.557480
Propertycount  Propertycount         0.557480

# Determine the number and percentage of rows having more than 5 missing values. If the percentage of such rows is less than 20% then remove all these rows.

In [74]:
x=df.isnull().sum(axis=1)
percent_missing = df.isnull().sum(axis=1) * 100 / 21
missing_value_df = pd.DataFrame({'column_name': x,
                                 'percent_missing': percent_missing})

missing_value_df.head()

   column_name  percent_missing
0            3        14.285714
1            2         9.523810
2            0         0.000000
3            3        14.285714
4            0         0.000000

In [76]:
missing_value_df = missing_value_df[(missing_value_df['column_name']<5) | (missing_value_df['column_name']<-5)]

In [78]:
missing_value_df.head()

   column_name  percent_missing
0            3        14.285714
1            2         9.523810
2            0         0.000000
3            3        14.285714
4            0         0.000000

# Display the description of data and percentage of missing values still left column wise.

In [82]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing,'column_name': df.columns})


missing_value_df.describe()

       percent_missing
count        21.000000
mean         14.011198
std          17.389164
min           0.553256
25%           0.553256
50%           0.557480
75%          20.090379
max          57.690683

# Considering the 'Price' column as target variable which is to be predicted, how will you treat the missing values? Give a brief explanation and treat the missing values in 'Price' column.

In [88]:
x=df['Price'].isnull().sum()

In [89]:
y=len(df['Price'])

In [90]:
z=x*100/y

In [91]:
z

22.307627333389643

# As 23% percent of price is missing so we can remove the missing data of price 
We can do it buy 2 methods :
    1. One Method is to remove all the NAn values .
    2. The 2nd method is to fill all the missing values with avg of the remaing values

# Now check the percentage of missing values in each column again, if missing values exist, treat it with the most suitable method.

In [132]:
df.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

In [133]:
df.shape

(23678, 21)

In [134]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})


missing_value_df = missing_value_df[(missing_value_df['percent_missing']<30) | (missing_value_df['percent_missing']<-30)]

In [135]:
for i in missing_value_df.column_name:
    print(i)

Suburb
Address
Rooms
Type
Price
Method
SellerG
Date
Distance
Postcode
Bedroom2
Bathroom
Car
Landsize
Lattitude
Longtitude
Regionname
Propertycount

In [136]:
nan_value = float("NaN")
df.replace("", nan_value, inplace=True)
df.dropna(subset = ['Suburb','Address','Rooms','Type','Price','Method'], inplace=True)

In [137]:
df.dropna(subset = ['SellerG','Date','Distance','Postcode','Bedroom2','Bathroom','Car','Landsize','Lattitude','Longtitude','Regionname','Propertycount'], inplace=True)

In [138]:
df=df.drop(['BuildingArea','YearBuilt','CouncilArea'],axis=1)

In [139]:
df.shape

(13518, 18)

# Now since you have completed your data cleaning, determine the number and percentage of columns removed.

In [154]:
y= (df1.columns.size * 100)/df.columns.size

In [160]:
No_of_column_removed= df1.columns.size - df.columns.size
No_of_column_removed

3

Percentage of column remtained

In [163]:
(df.columns.size/df1.columns.size)*100

85.71428571428571

# Determine the number and percentage of rows removed in whole process. Also comment briefly that according to you the amount of data lost is justified or not.

In [177]:
y=(df.size/df1.size)*100

In [178]:
z=(df.columns.size/df1.columns.size)*100

In [179]:
x=(y+z)/2

In [180]:
x

85.71428571428571

In [ ]:
The data lost is not justified at all , as many data is lost in cleaning process . Although we can try many diffenet ways or we can take Nan